ul.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #686868;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
  }

  ul.navbar li {
    float: left;
    margin: auto;
  }

  ul.navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  ul.navbar li a:hover {
    background-color: #c653c6;
    border-radius: 5px;
  }
  
  ul.navbar li.register {
    background-color: #993399;
    border-radius: 5px;
  }